<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cooper.Ult.BpmBusinessServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BC.Ult.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Cooper.Ult.BpmBusinessServices.Properties.Settings>
      <setting name="Cooper_Ult_BpmBusinessServices_Edoc2OcApiWS_Edoc2OcApiWebService"
          serializeAs="String">
        <value>http://localhost/Cooper.UltOIFDataWS/Edoc2/Edoc2OcApiWebService.asmx</value>
      </setting>
      <setting name="Cooper_Ult_BpmBusinessServices_Edoc2DocApiWS_Edoc2DocApiWebService"
          serializeAs="String">
        <value>http://localhost/Cooper.UltOIFDataWS/Edoc2/Edoc2DocApiWebService.asmx</value>
      </setting>
    </Cooper.Ult.BpmBusinessServices.Properties.Settings>
    <BC.Ult.Data.Properties.Settings>
      <setting name="BC_Ult_Data_UltWorkflowWS_UltWorkflowWebService"
          serializeAs="String">
        <value>http://localhost/Cooper.UltCoreWS71/UltWorkflowWebService.asmx</value>
      </setting>
    </BC.Ult.Data.Properties.Settings>
  </applicationSettings>

</configuration>
